<head th:fragment = "headerModuleFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/resource/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <script src="/resource/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/resource/fontawesome-free-6.4.2/css/all.css">
    <script src="/resource/Common%20JS/tablefunction.js"></script>
    <script src ="/resource/Common%20JS/common.js"></script>
    <script src ="/resource/Common%20JS/jquery.js"></script>
    <script src="/resource/Common%20JS/validation.js"></script>
    <link rel="stylesheet" href="/resource/CSS/sideBar.css">
    <link rel="stylesheet" href="/resource/CSS/employee.css">
    <link rel="stylesheet" href="/resource/CSS/mainContent.css">
    <link rel="stylesheet" href="/resource/CSS/navbar.css">
    <!--link datatable css file -->
    <link rel="stylesheet" href="/resource/DataTables-1.13.8/css/jquery.dataTables.css"/>

</head>

<head th:fragment = "headerFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/resource/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resource/CSS/dashboard.css">
    <link rel="stylesheet" href="/resource/fontawesome-free-6.4.2/css/all.css">
    <link rel="stylesheet" href="/resource/CSS/sideBar.css">
    <link rel="stylesheet" href="/resource/CSS/navbar.css">
    <script src="/resource/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
</head>
